@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:wght@400;600;700&family=Readex+Pro:wght@160..700&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #FFF1F0; */
}

.main {
    background-color: #FFF1F0;
    width: 100%;
    /* margin: auto; */
}

header {
    /* width: 1400px; */
    height: 848px;
    /* margin: auto; */
    background-image: url(../Images/headbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* rotate: (90deg); */
    /* transform: rotate(90deg); */
    background-position: center;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

nav {
    /* background-color: rgb(26, 176, 176); */
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

nav h5 {
    font-size: 14px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    padding: 0px 16px;
    /* color: #fff; */
    /* background-color: aqua; */
    text-transform: uppercase;
}

nav i {
    margin-right: 6px;
    font-size: 14px;
    /* color: #fff; */
}

.nav-right {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.nav-right-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.nav-right-user i {
    font-size: 24px;
}

.nav-right-user {
    padding: 12px 24px 12px 22px;
    border: 1px solid #fff;
    border-radius: 30px;
    /* margin-right: 58px; */
}

.nav-right .menu {
    border-radius: 50px;
    background-color: #fff;
    color: #3C0D09;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* font-size: 48px; */
}

.nav-right .menu i {
    font-size: 24px;
}

header h1 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 230px;
    text-transform: uppercase;
    text-align: center;
}

.about {
    /* max-width: 1400px; */
    /* height: 1074px; */
    /* margin: auto; */
    /* background-color: blueviolet; */
}

.about>img {
    width: 100%;
}

.about-para-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px 195px;
    height: 680px;
}

.about-para {
    /* width: 303px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about h6 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FF3F26;
    text-transform: uppercase;
}

.about h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 4%;
    color: #3C0D09;
}

.about p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #3C0D09;
}

.about-p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.tasty {
    background-color: #FFE2E0;
    padding: 64px 0px 56px 0px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.tasty-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasty-head h2 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 4%;
    color: #3C0D09;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.tasty-head p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 4%;
    color: #3C0D09;
}

.tasty-lists {
    padding: 56px 0px 32px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.tasty-lists h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #E8A6A0;
    text-transform: uppercase;
}

.tasty-card-container {
    padding: 32px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.tasty-card {
    display: flex;
    width: 400px;
    gap: 22px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasty-card img {
    width: 400px;
    height: 400px;
    border-radius: 24px;
}

.tasty-para {
    padding: 0px 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #81817F; */
}

.tasty-para h5 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #3C0D09;
    text-align: center;
    text-transform: capitalize;
}

.tasty-para p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2%;
    color: #3C0D09;
    text-align: center;
}
.tasty-para-bottom{
    display: flex;
    gap: 48px;
    /* background-color: #F97469; */
}
.tasty-para-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    /* background-color: aqua; */
}
.tasty-para-box p{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 2%;
    color: #D8857E;
    text-align: center;
    text-transform: capitalize;
}
.tasty-para-bottom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-right: 48px;
    border-right: 1px solid #D8857E;
}

.tasty-para-bottom-box h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #3C0D09;
    text-align: center;
    /* text-transform: uppercase; */
}

.tasty-para-bottom-box h6 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2%;
    color: #3C0D09;
}

.tasty-bottom {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.tasty-bottom p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3C0D09;
    line-height: 24px;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.tasty-bottom i {
    font-size: 14px;
}

.imgslider {
    padding: 60px 0px;
}

@keyframes slider {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    /* padding: 60px 0px; */
    white-space: nowrap;
    margin-bottom: 12px;
    overflow: hidden;
}

.logos-slide {
    display: inline-block;
    animation: 35s slider infinite linear;
}

.logos-slide img {
    width: 231px;
    height: 174px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0px 15px;
}

@keyframes slider2 {

    to {
        transform: translateX(-100%);
    }

    from {
        transform: translateY(0);
    }
}

.logos2 {
    /* padding: 60px 0px; */
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 12px;
}

.logos-slide2 {
    /* display: flex; */
    align-items: center;
    display: inline-block;
    justify-content: center;
    gap: 15px;
    animation: 25s slider infinite linear;
}

.logos-slide2 img {
    width: 231px;
    height: 174px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0px 15px;
}

@keyframes slider {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos3 {
    /* padding: 60px 0px; */
    white-space: nowrap;
    margin-bottom: 12px;
    overflow: hidden;
}

.logos-slide3 {
    display: inline-block;
    animation: 15s slider infinite linear;
}

.logos-slide3 img {
    width: 231px;
    height: 174px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0px 15px;
}


.feature {
    /* max-width: 1400px; */
    /* margin: auto; */
    background-color: #fff;
    padding: 56px 96px 96px 96px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.feature-head h5 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #3C0D09;
    text-transform: capitalize;
}

.feature-card-container {
    display: flex;
    gap: 96px;
    align-items: center;
    overflow: auto;
}

.feature-card {
    display: flex;
    gap: 56px;
    /* align-items: ; */
    /* justify-content: center; */
}

.feature-card .img1 {
    width: 700px;
    height: 466px;
    object-fit: cover;
    border-radius: 18px;
}

.feature-para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    width: 300px;

}

.feature-para h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #3C0D09;
}

.feature-para p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 4%;
    color: #3C0D09;
}

.feature-icon {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.feature-para h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #3C0D09;
    text-transform: capitalize;
}

.feature-para i {
    font-size: 14px;
    color: #3C0D09;
}

.howuse {
    background-color: #A54F48;
    /* max-width: 1400px; */
    /* margin: auto; */
    padding: 96px 295px;
    display: flex;
    align-items: center;
    gap: 34px;
    /* justify-content: space-between; */
}

.how-para {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* align-items: center; */
}

.how-para h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    text-transform: uppercase;
}

.how-para1 p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 2%;
    color: #fff;
}

.how-para1 h5 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 4%;
    color: #fff;
    text-transform: capitalize;
}

.plan {
    padding: 96px 154px;
    display: flex;
    gap: 120px;
    /* background-color: #b18c89; */
    /* align-items: center; */
    justify-content: space-between;
}

.plan-left {
    width: 996px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #f1e8e7; */
}

.plan-left h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: #3C0D09;
    text-transform: uppercase;
}

.plan-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    /* width: 80%; */
    /* background-color: aqua; */
}

.plan-card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding-bottom: 30px;
    /* background-color: #E8A6A0; */
    border: 1px solid #FFDBD8;
}

.plan-card>p {
    color: #FFF1F0;
    background-color: #FF3F26;
    padding: 4px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 33px;
    text-transform: uppercase;
    /* border-radius: 8px; */
}

.plan-left p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #3C0D09;
}

.plan-card-para {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

.plan-card p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #D8857E;
    text-transform: capitalize;
}

.plan-card h6 {
    border-radius: 4px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FF3F26;
    line-height: 32px;
    width: 165px;
    text-align: center;
    text-transform: capitalize;
    padding: 4px 0px;
    background-color: rgba(255, 63, 38, 10%);
}

.price {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.price h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: #3C0D09;
}

.price p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: #3C0D09;
}

.plan-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.paln-para-contanier {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.plan-para-head {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #3C0D09;
    font-size: 20px;
    line-height: 32px;
}

.paln-para-box-container {
    display: flex;
    gap: 24px;
    /* margin-bottom: 24px; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.plan-para-box {
    padding: 24px 36px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.plan-para-box-head {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
}

.plan-para-box h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 44px;
    color: #3C0D09;
    text-transform: uppercase;
}

.plan-para-box h5 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #3C0D09;
    text-transform: capitalize;
}

.plan-para-box p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 4%;
    color: #3C0D09;
}

.news {
    /* max-width: 1400px; */
    /* margin: auto; */
    padding: 96px;
    background-color: #FFFBFB;
    display: flex;
    gap: 43px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.news-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-head h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #3C0D09;
    text-transform: uppercase;
}

.news-card-container {
    display: flex;
    gap: 38px;
    align-items: center;
    /* justify-content: center; */
    overflow: scroll;
}

.new-card {
    width: 334px;
    height: 335px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: aqua; */
}

.new-card img {
    border-radius: 8px;
    height: 237px;
    width: 334px;
    object-fit: cover;
}

.new-card h6 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2%;
    color: #D8857E;
}

.new-card p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #3C0D09;
}



.news-arrow {
    display: flex;
    gap: 18px;
    align-items: center;
    /* justify-content: center; */
}

.news-arrow i {
    border-radius: 50px;
    padding: 14px 16px;
    /* font-size: 24px; */
    font-size: 20px;
    font-weight: 200;
    color: #E8A6A0;
    border: 1px solid #E8A6A0;
}

.news-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}

.news-btn a {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #3C0D09;
    text-decoration: none;
    text-transform: uppercase;
}

.news-btn i {
    font-size: 14px;
    color: #3C0D09;
}

.yourself {
    /* max-width: 1400px; */
    /* margin: auto; */
    padding: 80px 0px;
    background-color: #FFFBFB;
    display: flex;
    gap: 38px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #FFDBD8;
}

.yourself-para {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yourself-para h2 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 62px;
    text-transform: uppercase;
    color: #3C0D09;
    letter-spacing: 2%;
}

.yourself-para p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #3C0D09;
    text-transform: capitalize;
}

.yourself button {
    border-radius: 30px;
    padding: 12px 24px;
    background-color: #F97469;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    width: 298px;
}


footer {
    /* max-width: 1400px; */
    /* margin: auto; */
    padding: 96px 170px 0px 170px;
    background-color: #3C0D09;
}

.footer-columns {
    padding-bottom: 50px;
    /* width: 100%; */
    display: flex;
    /* flex-wrap: wrap; */
    border-bottom: 1px solid #D8857E;
    gap: 70px;
    /* background-color: #FF3F26; */
    /* justify-content: space-between; */
}

.footer-column {
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.footer-column ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column h3 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #81817F;
}

.footer-column a {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.footer-icon {
    display: flex;
    gap: 18px;
}

.footer-icon a {
    border-radius: 30px;
    background-color: #fff;
    color: #3C0D09;
    /* font-size: 40px; */
    text-align: center;
    padding: 4px 6px;
}

.footer-icon i {
    font-size: 24px;
}

footer h1 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 230px;
    text-align: center;
    color: #fff;
}